* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 90px;
    color: rgba(12, 8, 8, 0.788);
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
}


body {

    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.tabla {
    position: relative;
    padding-left: 10%;
    padding-right: 20%;

}

.image {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    resize: both;
    width: 130%;
    height: 130%;
}

.texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-justify: inter-word;
    padding-left: 30%;
    padding-bottom: 20%;
}

.boton {
    bottom: 1%;
    right: 45%;
    position: absolute;
    background-color: #2e518b;
    width: 200px;
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;

}