* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    padding: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 90px;
    color: rgba(12, 8, 8, 0.788);
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
}



body{

background: #5A3F37;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}